body {
    font-family: 'Roboto';
}

.bordered {
	border: 1px dashed red;
}

.navbar {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card {
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin-bottom: 20px;
}

/***** Top content *****/

.inner-bg {
    padding: 100px 0 170px 0;
    height: 100vh;
}

.top-content .text {
  color: #fff;
}

.top-content .text h1 { color: black; }

.top-content .description {
  margin: 20px 0 10px 0;
}

.top-content .description p { opacity: 0.8; }

.top-content .description a {
  color: #fff;
}
.top-content .description a:hover, 
.top-content .description a:focus { border-bottom: 1px dotted #fff; }

.form-box {
  margin-top: 35px;
}

.form-top {
  overflow: hidden;
  padding: 0 25px 15px 25px;
  background: #fff;
  -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
  text-align: left;
}

.form-top-left {
  float: left;
  padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
  padding-top: 5px;
  font-size: 66px;
  color: #ddd;
  line-height: 100px;
  text-align: right;
}

.form-bottom {
  padding: 25px 25px 30px 25px;
  background: #eee;
  -moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
  text-align: left;
}

.form-bottom form textarea {
  height: 100px;
}

.form-bottom form button.btn {
  width: 100%;
}

.form-bottom form .input-error {
  border-color: #de995e;
}

.form-control {
  text-indent: 10px;
}


.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notes {
  width: 400px
}

.text-sm {
  font-size: small
}

.list-group-item i {
  color: #17A2B8;
}

.chart {
 width: 100%;
 height: 250px;
 font-size: small;
}

.pad_ {
  padding: 20px;
}

.pad_left {
  padding-left: 20px;
  padding-right: 20px;
}

#page-content-wrapper nav {
  margin-top: 3px;
}

i {
  padding-right: 10px;
}


table {
  font-size: small;
}

.dot {
  height: 20px;
  width: 20px;
  background-color: #38B44A;
  border-radius: 50%;
  display: inline-block;
}

small {
  color: red;
}

a.disabled {
  pointer-events: none;
  cursor: default;
}