<!-- Container -->
<div class="container-fluid" ng-if="selectedMenu">
  <br>
  <div class="row">
    <h5 class="col-md-11 vertical-align">{{selectedMenu.name}}</h5>
    <div ng-app="notes" ng-controller="ModalCtrl" class="pr-2">
      <button class="btn btn-warning" ng-click="open('edit')"><span class="fa fa-pencil-square-o"></span></button>
    </div>
    <div ng-app="notes" ng-controller="ModalCtrl">
      <button class="btn btn-danger" ng-click="open('delete')"><span class="fa fa-trash"></span></button>
    </div>
  </div>
  <hr>
  <div>

      <button type="button" class="btn btn-info text-sm" ng-click="show_tp(selectedMenu.name)" ng-disabled="fetch_fb || fetch_gr || fetch_tp || selectedMenu.tp === 'undefined'">Trustpilot <i class='fa fa-cog fa-spin' ng-show="fetch_tp"></i></button>

      <button type="button" class="btn btn-info text-sm" ng-click="show_fb(selectedMenu.name)" ng-disabled="fetch_tp || fetch_gr || fetch_fb || selectedMenu.fb === 'undefined'">Facebook <i class='fa fa-cog fa-spin' ng-show="fetch_fb"></i></button>

      <button type="button" class="btn btn-info text-sm" ng-click="show_gr(selectedMenu.name)" ng-disabled="fetch_fb || fetch_tp || fetch_gr || selectedMenu.gr === 'undefined'">Google Reviews <i class='fa fa-cog fa-spin' ng-show="fetch_gr"></i></button>

      <div class="d-inline-block pull-right">
        <a class="individual_button" ng-click="get_tp(selectedMenu)" ng-disabled="fetch_fb || fetch_gr || fetch_tp || selectedMenu.tp === 'undefined'">Run Trustpilot</a> | 
        <a class="individual_button" ng-click="get_fb(selectedMenu)" ng-disabled="fetch_tp || fetch_gr || fetch_fb || selectedMenu.fb === 'undefined'">Run Facebook</a> | 
        <a class="individual_button" ng-click="get_gr(selectedMenu)" ng-disabled="fetch_fb || fetch_tp || fetch_gr || selectedMenu.gr === 'undefined'">Run Google Reviews</a>
      </div>
  </div>
  <div class="row pad_" ng-if="show_reviews">
    <div class="col-md-12 card text-sm">  
      <h6>
        {{show_reviews}}
        <span ng-if="reviews.length > 0"><mark>({{reviews.length}} reviews)</mark></span>
        <span class="pull-right" ng-if="dateLastUpdated">Last Updated: {{dateLastUpdated | date: "MMM dd yyyy hh:mm:ss a"}}</span></h6>
      <div class="tableFixHead">
        <table class="table table-striped table-responsive text-sm">
          <thead>
            <tr>
              <th width="20%">Date</th>
              <th width="20%">Reviewer</th>            
              <th width="40%">Review Text</th>
              <th width="10%">Replies</th>            
              <th width="10%">Review URL</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="d in reviews | orderBy: '-date'">
              <td width="10%">{{(d.date) | date: "MMM dd yyyy" : 'MST'}}</td>
              <td width="16%">{{d.account_name}}</td>
              <td width="32%" class="text-justify">{{d.article}}</td>
              <td width="32%" class="text-justify">{{d.replies}}</td>
              <td width="10%"><a target="_blank" href="{{d.url}}">{{d.url}}</a></td>
            </tr>
            <tr ng-if="reviews.length == 0">
              <td colspan="5" class="text-center">No reviews found.</td>
            </tr>
          </tbody>
        </table>

        <script ng-if="reviews.length > 0">
          $(document).ready(function() {
            var $th = $('.tableFixHead').find('thead th')
            $('.tableFixHead').on('scroll', function() {
              $th.css('transform', 'translateY('+ this.scrollTop +'px)');
            });
          });
        </script>

      </div>
    </div>
  </div>
</div>